@{
    ViewBag.Title = "Восстановление пароля";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        На указанный электронный адрес отправлены дальнейшие инструкции по восстановлению пароля.
    </p>
</div>
	
