<?xml version="1.0" ?>
<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\TestTaskWebApplication.mdf;Initial Catalog=TestTaskWebApplication;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>