@{
    ViewBag.Title = "Главная страница";
}

<div class="row" style="margin:0 auto; padding-top:200px;">
    <div class="col-md-10">
        <h1>Добро пожаловать</h1>
        <h2>
            Данное приложение было разработано в рамках тестового задания.
        </h2>
    </div>

</div>