@model TestTaskWebApplication.ViewModels.EmailTemplateViewModel
@{
    ViewBag.Subject = "Восстановление пароля";
}
<p>Уважаемый(ая) @Model.Name @Model.LastName!</p>
<p>
    Для смены пароля, перейдите по ссылке:
    <a href="@Model.CallbackUrl">сменить пароль</a>
</p>